@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Fasthand&family=Oswald:wght@500&family=Pacifico&family=Poppins:ital@0;1&family=Quattrocento:wght@700&family=Roboto+Condensed:wght@700&family=Work+Sans&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quattrocento', serif;
}
body
{
    background-color: rgb(20, 19, 19);
    scroll-behavior: smooth;
}
a:hover
{
    color: yellowgreen;
}
a:active
{
    color: gray
}

.nav-bar {
    height: 100px;
    background-color: gray;
    position: sticky ;
    top: 0;
    display: flex;
    align-items: center;
    padding: 17px 20px 0 ;
    justify-content: space-between;
    background-color: #2C3333;
    z-index: 5;
}
.nav-bar a {
    text-decoration: none;
}
.nav-bar h1 {
    color: #ddd;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-size: 30px;
}
.nav-bar .banner {
    display: flex;
    align-items: center;
    padding-top: 10px;
    column-gap: 10px;
}
.nav-bar .banner img {
    width: 50px;
    height: 60px;
    margin-top: -15px;
}
.nav-bar ul {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.nav-bar ul li  {
    list-style: none;
}
.nav-bar ul li a {
    text-decoration: none;

    letter-spacing: 2px;
    color: #fff;
}
.nav-bar i {
    display: none;
}


.section1 {
    height: calc(100vh - 100px);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.section1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
}

.section1 .content {
    width: 90%;
    height: 90%;
    /* max-width: 1000px; */
    border-radius: 20px;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Work Sans',sans-serif;
    margin-top: -200px;
    animation: container .3s linear forwards;
    background-color: #2C333380;
    justify-content: center;
    position: absolute;
    inset: 5%;

}
.section1 .content h1 {
    font-family: 'Work Sans',sans-serif;
    background-color: #2C3333;
    width: max-content;
    padding: 10px 20px;
    border-radius: 10px;
  
}
.section1 .content p {
    width: 100%;
    max-width: 500px;
    padding: 10px 20px;
    background-color: #2C3333;
    border-radius: 20px;
    font-size: 15px;
}

.section1 .content button {
    height: 40px;
    letter-spacing: 1.5px;
    border: 1px solid #2C3333;
    width: 100%;
    max-width: 500px;
}
.section1 .content button:hover {
    background-color: #2C3333;
    color: #fff;
}
.section1 .content button:active {
    border: 1px solid #0E8388;
    color: #2C3333;
    background-color: #fff;

}

@keyframes container {
    from {margin-top: -100px;}
    to{margin-top: 0px;}
}
.fresh-recipes-title
{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin: 10px 0;
}

.recipe-container {
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.recipe-container .card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.recipe-container .card1 {
    display: flex;
    flex-direction: column;    
    width: 100%;
    max-width: 420px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    height: 550px;
    justify-content: space-between;
}
.recipe-container .card1 .image{
    width: 100%;
    height:280px;
    border: 1px solid black;
    flex-shrink: 0;
}
 .recipe-container .card1 .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
.recipe-container .card1 .text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    height: 100%;
}
.recipe-container .card1 .text .button {
    align-self: flex-end;
    height: max-content;
    display: flex;
    align-items: center;
    column-gap: 20px;

}
.recipe-container .card1 .text .button .likes {
    display: flex;
    align-items: center;
}
.recipe-container .card1 .text .txt-content h1 {
    font-size: 25px;
}
.recipe-container .card1 .text .txt-content p {
    letter-spacing: 1px;
    font-size: 14px;
    margin: 0;
}
 .recipe-container .card1 .text .button p {
    height: 100%;
    margin-top: 20px;
    display: flex;
    column-gap: 5px;
 }
 .recipe-container .card1 .text .button button {
    padding: 5px 20px;
    letter-spacing: 1px;
    font-family: 'Poppins',sans-serif;
    border-radius: 10px;
    border: 1px solid gray;
 }
 .border-how-tos
{
    margin: 50px 0 0 0;
}
.border-about-us
{
    margin: 50px 0 0 0;
}

.who-we-are
{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin: 10px 0;
}

.who-we-are-p
{
    font-size: 25px;
    text-align: center;
    justify-content: center;
}
.kreators
{
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.kreators div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-card
{
    padding: 2px 16px;
    justify-content: space-around;
}
.container-card p {
    width: 100%;
}
.foot .about-us {
    text-align: center;
}

.foot .about-us span {
    display: inline-block;
    width: 80%;
    margin: 0 auto;


}
.me-pic {
    width: 100%;
}
.me-pic p , .lloyd-dee-davis p {
    width: 80%;   
}

.me-pic img , .lloyd-dee-davis img{
    border-radius: 20px;
    padding: 10px;

}

footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-family: 'Quattrocento', serif;
    background-color:#222727;
    color: #fff;
}

footer .footer-div p {
    margin-top: 10px;
    transition: all .3s;
}
footer .footer-div p:hover {
    transform: scale(1.1);
    background-color:darkslategrey;
    cursor: pointer;
    text-align: center;
    padding: 5px 15px;
    border-radius: 10px;
    color: #fff;
}
footer .div4 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
footer .div4 div {
    text-align: end;
}
.icons ul
{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
.icons li
{
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    .recipe-container .card1 {
        max-width: 600px;
    }
    footer {
        flex-direction: column;
        row-gap: 20px;
    }
    footer > div 
    {
        width: 100%;
        text-align: center;
    }

    footer .div4 {
        align-items: center;
    }

    .kreators {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns:  1fr;
    }

    .section1 .content h1 {
        width: 100%;
    }

}


@media only screen and (max-width: 699px) 
{
    
    .nav-bar {
        padding-right:  25px;
    }
    .nav-bar ul  {
        display: none;
    }
    .nav-bar i {
        display: block;
        color: #fff;
        font-size: 30px;
    }
    .offcanvas {
        background-color: #222727 !important;
        color: #fff !important;
    }
    .offcanvas button{
        background-color: #fff;
        color: #fff !important;
    }
    .offcanvas ul {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .offcanvas ul li {
        list-style: none;
    }
    .offcanvas ul li a {
        text-decoration: none;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        letter-spacing: 1px;
    }
    .card-container .card1 {
        height: max-content;
    }
}

@media only screen and (max-width: 430px) {
    body {
        min-width: 429px;
    }
}